.section-index-section {
    padding-top: var(--global-spacing-img-to-headline);
    padding-bottom: var(--global-spacing-img-to-headline)
}

.section-index-section .index-title {
    margin-bottom: 70px;
    font-size: 48px;
    line-height: 1.0834933333;
    font-weight: 600;
    letter-spacing: -0.003em;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif
}

.section-index-section .index-title:lang(ar) {
    letter-spacing: 0em;
    font-family: SF Pro AR,SF Pro AR Display,SF Pro Display,SF Pro Gulf,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif
}

.section-index-section .index-title:lang(ja) {
    line-height: 1.1459933333;
    letter-spacing: 0em;
    font-family: SF Pro JP,SF Pro Display,SF Pro Icons,Hiragino Kaku Gothic Pro,ヒラギノ角ゴ Pro W3,メイリオ,Meiryo,ＭＳ Ｐゴシック,Helvetica Neue,Helvetica,Arial,sans-serif
}

.section-index-section .index-title:lang(ko) {
    line-height: 1.1875;
    letter-spacing: 0em;
    font-family: SF Pro KR,SF Pro Display,SF Pro Icons,Apple Gothic,HY Gulim,MalgunGothic,HY Dotum,Lexi Gulim,Helvetica Neue,Helvetica,Arial,sans-serif
}

.section-index-section .index-title:lang(zh) {
    letter-spacing: 0em
}

.section-index-section .index-title:lang(th) {
    line-height: 1.3334933333;
    font-family: SF Pro TH,SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif
}

.section-index-section .index-title:lang(zh-CN) {
    font-family: SF Pro SC,SF Pro Display,SF Pro Icons,PingFang SC,Helvetica Neue,Helvetica,Arial,sans-serif
}

.section-index-section .index-title:lang(zh-HK) {
    font-family: SF Pro HK,SF Pro Display,SF Pro Icons,PingFang HK,Helvetica Neue,Helvetica,Arial,sans-serif
}

.section-index-section .index-title:lang(zh-MO) {
    font-family: SF Pro HK,SF Pro TC,SF Pro Display,SF Pro Icons,PingFang HK,Helvetica Neue,Helvetica,Arial,sans-serif
}

.section-index-section .index-title:lang(zh-TW) {
    font-family: SF Pro TC,SF Pro Display,SF Pro Icons,PingFang TC,Helvetica Neue,Helvetica,Arial,sans-serif
}

@media only screen and (max-width: 1068px) {
    .section-index-section .index-title {
        font-size:48px;
        line-height: 1.0834933333;
        font-weight: 600;
        letter-spacing: -0.003em;
        font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-title:lang(ar) {
        letter-spacing: 0em;
        font-family: SF Pro AR,SF Pro AR Display,SF Pro Display,SF Pro Gulf,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-title:lang(ja) {
        line-height: 1.1459933333;
        letter-spacing: 0em;
        font-family: SF Pro JP,SF Pro Display,SF Pro Icons,Hiragino Kaku Gothic Pro,ヒラギノ角ゴ Pro W3,メイリオ,Meiryo,ＭＳ Ｐゴシック,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-title:lang(ko) {
        line-height: 1.1875;
        letter-spacing: 0em;
        font-family: SF Pro KR,SF Pro Display,SF Pro Icons,Apple Gothic,HY Gulim,MalgunGothic,HY Dotum,Lexi Gulim,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-title:lang(zh) {
        letter-spacing: 0em
    }

    .section-index-section .index-title:lang(th) {
        line-height: 1.3334933333;
        font-family: SF Pro TH,SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-title:lang(zh-CN) {
        font-family: SF Pro SC,SF Pro Display,SF Pro Icons,PingFang SC,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-title:lang(zh-HK) {
        font-family: SF Pro HK,SF Pro Display,SF Pro Icons,PingFang HK,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-title:lang(zh-MO) {
        font-family: SF Pro HK,SF Pro TC,SF Pro Display,SF Pro Icons,PingFang HK,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-title:lang(zh-TW) {
        font-family: SF Pro TC,SF Pro Display,SF Pro Icons,PingFang TC,Helvetica Neue,Helvetica,Arial,sans-serif
    }
}

@media only screen and (max-width: 734px) {
    .section-index-section .index-title {
        font-size:32px;
        line-height: 1.125;
        font-weight: 600;
        letter-spacing: .004em;
        font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-title:lang(ja) {
        line-height: 1.21875;
        font-family: SF Pro JP,SF Pro Display,SF Pro Icons,Hiragino Kaku Gothic Pro,ヒラギノ角ゴ Pro W3,メイリオ,Meiryo,ＭＳ Ｐゴシック,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-title:lang(ko) {
        line-height: 1.21875;
        font-family: SF Pro KR,SF Pro Display,SF Pro Icons,Apple Gothic,HY Gulim,MalgunGothic,HY Dotum,Lexi Gulim,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-title:lang(th) {
        line-height: 1.375;
        font-family: SF Pro TH,SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-title:lang(zh) {
        line-height: 1.21875
    }

    .section-index-section .index-title:lang(ar) {
        font-family: SF Pro AR,SF Pro AR Display,SF Pro Display,SF Pro Gulf,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-title:lang(zh-CN) {
        font-family: SF Pro SC,SF Pro Display,SF Pro Icons,PingFang SC,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-title:lang(zh-HK) {
        font-family: SF Pro HK,SF Pro Display,SF Pro Icons,PingFang HK,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-title:lang(zh-MO) {
        font-family: SF Pro HK,SF Pro TC,SF Pro Display,SF Pro Icons,PingFang HK,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-title:lang(zh-TW) {
        font-family: SF Pro TC,SF Pro Display,SF Pro Icons,PingFang TC,Helvetica Neue,Helvetica,Arial,sans-serif
    }
}

@media only screen and (max-width: 734px) {
    .section-index-section .index-title {
        margin-bottom:38px
    }
}

.section-index-section .index-header {
    font-size: 12px;
    line-height: 1.3333733333;
    font-weight: 400;
    letter-spacing: -0.01em;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #6e6e73;
    margin-bottom: 15px
}

.section-index-section .index-header:lang(ar) {
    letter-spacing: 0em;
    font-family: SF Pro AR,SF Pro AR Text,SF Pro Text,SF Pro Gulf,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif
}

.section-index-section .index-header:lang(ja) {
    line-height: 1.4166666667;
    letter-spacing: 0em;
    font-family: SF Pro JP,SF Pro Text,SF Pro Icons,Hiragino Kaku Gothic Pro,ヒラギノ角ゴ Pro W3,メイリオ,Meiryo,ＭＳ Ｐゴシック,Helvetica Neue,Helvetica,Arial,sans-serif
}

.section-index-section .index-header:lang(ko) {
    line-height: 1.4166666667;
    letter-spacing: 0em;
    font-family: SF Pro KR,SF Pro Text,SF Pro Icons,Apple Gothic,HY Gulim,MalgunGothic,HY Dotum,Lexi Gulim,Helvetica Neue,Helvetica,Arial,sans-serif
}

.section-index-section .index-header:lang(zh) {
    letter-spacing: 0em
}

.section-index-section .index-header:lang(th) {
    line-height: 1.3333733333;
    letter-spacing: 0em;
    font-family: SF Pro TH,SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif
}

.section-index-section .index-header:lang(zh-CN) {
    font-family: SF Pro SC,SF Pro Text,SF Pro Icons,PingFang SC,Helvetica Neue,Helvetica,Arial,sans-serif
}

.section-index-section .index-header:lang(zh-HK) {
    font-family: SF Pro HK,SF Pro Text,SF Pro Icons,PingFang HK,Helvetica Neue,Helvetica,Arial,sans-serif
}

.section-index-section .index-header:lang(zh-MO) {
    font-family: SF Pro HK,SF Pro TC,SF Pro Text,SF Pro Icons,PingFang HK,Helvetica Neue,Helvetica,Arial,sans-serif
}

.section-index-section .index-header:lang(zh-TW) {
    font-family: SF Pro TC,SF Pro Text,SF Pro Icons,PingFang TC,Helvetica Neue,Helvetica,Arial,sans-serif
}

@media only screen and (max-width: 734px) {
    .section-index-section .index-header {
        margin-bottom:12px
    }
}

.section-index-section .index-groups {
    display: flex;
    flex-wrap: wrap
}

.section-index-section .index-group {
    padding-inline-end:44px;max-width: 25%;
    vertical-align: top;
    box-sizing: border-box
}

@media only screen and (min-width: 1441px) {
    .section-index-section .index-group {
        max-width:20%
    }
}

@media only screen and (max-width: 734px) {
    .section-index-section .index-group {
        max-width:50%
    }
}

.section-index-section .index-group:first-of-type {
    padding-inline-end:88px;max-width: 50%
}

@media only screen and (min-width: 1441px) {
    .section-index-section .index-group:first-of-type {
        max-width:40%
    }
}

@media only screen and (max-width: 734px) {
    .section-index-section .index-group:first-of-type {
        width:calc(75% - 88px);
        max-width: none;
        padding-inline-end:calc(25% + 88px);display: block;
        margin-bottom: 36px;
        box-sizing: initial
    }
}

.section-index-section .index-group:first-of-type .index-header {
    margin-bottom: 14px
}

@media only screen and (max-width: 734px) {
    .section-index-section .index-group:first-of-type .index-header {
        margin-bottom:11px
    }
}

.section-index-section [dir=rtl] .index-group {
    float: right
}

.section-index-section .index-list {
    list-style-type: none;
    margin-inline-start:0}

.section-index-section .index-item-base {
    margin-bottom: 13px;
    font-size: 14px;
    line-height: 1.4285914286;
    font-weight: 400;
    letter-spacing: -0.016em;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 600
}

.section-index-section .index-item-base:lang(ar) {
    letter-spacing: 0em;
    font-family: SF Pro AR,SF Pro AR Text,SF Pro Text,SF Pro Gulf,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif
}

.section-index-section .index-item-base:lang(ja) {
    line-height: 1.4;
    letter-spacing: 0em;
    font-family: SF Pro JP,SF Pro Text,SF Pro Icons,Hiragino Kaku Gothic Pro,ヒラギノ角ゴ Pro W3,メイリオ,Meiryo,ＭＳ Ｐゴシック,Helvetica Neue,Helvetica,Arial,sans-serif
}

.section-index-section .index-item-base:lang(ko) {
    line-height: 1.5714285714;
    letter-spacing: 0em;
    font-family: SF Pro KR,SF Pro Text,SF Pro Icons,Apple Gothic,HY Gulim,MalgunGothic,HY Dotum,Lexi Gulim,Helvetica Neue,Helvetica,Arial,sans-serif
}

.section-index-section .index-item-base:lang(zh) {
    line-height: 1.5;
    letter-spacing: 0em
}

.section-index-section .index-item-base:lang(th) {
    line-height: 1.3571828571;
    letter-spacing: 0em;
    font-family: SF Pro TH,SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif
}

.section-index-section .index-item-base:lang(zh-CN) {
    font-family: SF Pro SC,SF Pro Text,SF Pro Icons,PingFang SC,Helvetica Neue,Helvetica,Arial,sans-serif
}

.section-index-section .index-item-base:lang(zh-HK) {
    font-family: SF Pro HK,SF Pro Text,SF Pro Icons,PingFang HK,Helvetica Neue,Helvetica,Arial,sans-serif
}

.section-index-section .index-item-base:lang(zh-MO) {
    font-family: SF Pro HK,SF Pro TC,SF Pro Text,SF Pro Icons,PingFang HK,Helvetica Neue,Helvetica,Arial,sans-serif
}

.section-index-section .index-item-base:lang(zh-TW) {
    font-family: SF Pro TC,SF Pro Text,SF Pro Icons,PingFang TC,Helvetica Neue,Helvetica,Arial,sans-serif
}

@media only screen and (max-width: 734px) {
    .section-index-section .index-item-base {
        margin-bottom:11px
    }
}

.section-index-section .index-item-elevated {
    margin-bottom: 11px;
    font-size: 28px;
    line-height: 1.1428571429;
    font-weight: 600;
    letter-spacing: .007em;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif
}

.section-index-section .index-item-elevated:lang(ja) {
    line-height: 1.1786114286;
    font-family: SF Pro JP,SF Pro Display,SF Pro Icons,Hiragino Kaku Gothic Pro,ヒラギノ角ゴ Pro W3,メイリオ,Meiryo,ＭＳ Ｐゴシック,Helvetica Neue,Helvetica,Arial,sans-serif
}

.section-index-section .index-item-elevated:lang(ko) {
    line-height: 1.25;
    font-family: SF Pro KR,SF Pro Display,SF Pro Icons,Apple Gothic,HY Gulim,MalgunGothic,HY Dotum,Lexi Gulim,Helvetica Neue,Helvetica,Arial,sans-serif
}

.section-index-section .index-item-elevated:lang(th) {
    line-height: 1.3928571429;
    font-family: SF Pro TH,SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif
}

.section-index-section .index-item-elevated:lang(zh) {
    line-height: 1.25
}

.section-index-section .index-item-elevated:lang(ar) {
    font-family: SF Pro AR,SF Pro AR Display,SF Pro Display,SF Pro Gulf,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif
}

.section-index-section .index-item-elevated:lang(zh-CN) {
    font-family: SF Pro SC,SF Pro Display,SF Pro Icons,PingFang SC,Helvetica Neue,Helvetica,Arial,sans-serif
}

.section-index-section .index-item-elevated:lang(zh-HK) {
    font-family: SF Pro HK,SF Pro Display,SF Pro Icons,PingFang HK,Helvetica Neue,Helvetica,Arial,sans-serif
}

.section-index-section .index-item-elevated:lang(zh-MO) {
    font-family: SF Pro HK,SF Pro TC,SF Pro Display,SF Pro Icons,PingFang HK,Helvetica Neue,Helvetica,Arial,sans-serif
}

.section-index-section .index-item-elevated:lang(zh-TW) {
    font-family: SF Pro TC,SF Pro Display,SF Pro Icons,PingFang TC,Helvetica Neue,Helvetica,Arial,sans-serif
}

@media only screen and (max-width: 1068px) {
    .section-index-section .index-item-elevated {
        font-size:24px;
        line-height: 1.1666666667;
        font-weight: 600;
        letter-spacing: .009em;
        font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-item-elevated:lang(ja) {
        line-height: 1.25;
        font-family: SF Pro JP,SF Pro Display,SF Pro Icons,Hiragino Kaku Gothic Pro,ヒラギノ角ゴ Pro W3,メイリオ,Meiryo,ＭＳ Ｐゴシック,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-item-elevated:lang(ko) {
        line-height: 1.2916666667;
        font-family: SF Pro KR,SF Pro Display,SF Pro Icons,Apple Gothic,HY Gulim,MalgunGothic,HY Dotum,Lexi Gulim,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-item-elevated:lang(th) {
        line-height: 1.375;
        font-family: SF Pro TH,SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-item-elevated:lang(zh) {
        line-height: 1.2916666667
    }

    .section-index-section .index-item-elevated:lang(ar) {
        font-family: SF Pro AR,SF Pro AR Display,SF Pro Display,SF Pro Gulf,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-item-elevated:lang(zh-CN) {
        font-family: SF Pro SC,SF Pro Display,SF Pro Icons,PingFang SC,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-item-elevated:lang(zh-HK) {
        font-family: SF Pro HK,SF Pro Display,SF Pro Icons,PingFang HK,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-item-elevated:lang(zh-MO) {
        font-family: SF Pro HK,SF Pro TC,SF Pro Display,SF Pro Icons,PingFang HK,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-item-elevated:lang(zh-TW) {
        font-family: SF Pro TC,SF Pro Display,SF Pro Icons,PingFang TC,Helvetica Neue,Helvetica,Arial,sans-serif
    }
}

@media only screen and (max-width: 734px) {
    .section-index-section .index-item-elevated {
        font-size:21px;
        line-height: 1.1904761905;
        font-weight: 600;
        letter-spacing: .011em;
        font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-item-elevated:lang(ja) {
        line-height: 1.2380952381;
        font-family: SF Pro JP,SF Pro Display,SF Pro Icons,Hiragino Kaku Gothic Pro,ヒラギノ角ゴ Pro W3,メイリオ,Meiryo,ＭＳ Ｐゴシック,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-item-elevated:lang(ko) {
        line-height: 1.2858042857;
        font-family: SF Pro KR,SF Pro Display,SF Pro Icons,Apple Gothic,HY Gulim,MalgunGothic,HY Dotum,Lexi Gulim,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-item-elevated:lang(th) {
        line-height: 1.381002381;
        font-family: SF Pro TH,SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-item-elevated:lang(zh) {
        line-height: 1.3334033333
    }

    .section-index-section .index-item-elevated:lang(ar) {
        font-family: SF Pro AR,SF Pro AR Display,SF Pro Display,SF Pro Gulf,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-item-elevated:lang(zh-CN) {
        font-family: SF Pro SC,SF Pro Display,SF Pro Icons,PingFang SC,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-item-elevated:lang(zh-HK) {
        font-family: SF Pro HK,SF Pro Display,SF Pro Icons,PingFang HK,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-item-elevated:lang(zh-MO) {
        font-family: SF Pro HK,SF Pro TC,SF Pro Display,SF Pro Icons,PingFang HK,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .section-index-section .index-item-elevated:lang(zh-TW) {
        font-family: SF Pro TC,SF Pro Display,SF Pro Icons,PingFang TC,Helvetica Neue,Helvetica,Arial,sans-serif
    }
}

@media only screen and (max-width: 1068px) {
    .section-index-section .index-item-elevated {
        margin-bottom:9px
    }
}

@media only screen and (max-width: 734px) {
    .section-index-section .index-item-elevated {
        margin-bottom:8px
    }
}

.section-index-section .index-item-elevated+.index-item-base {
    margin-top: 30px
}

@media only screen and (max-width: 1068px) {
    .section-index-section .index-item-elevated+.index-item-base {
        margin-top:22px
    }
}

@media only screen and (max-width: 734px) {
    .section-index-section .index-item-elevated+.index-item-base {
        margin-top:19px
    }
}

.section-index-section .index-link {
    text-decoration: none;
    color: var(--sk-body-text-color)
}

.section-index-section .index-link:hover {
    text-decoration: none
}

.section-index.background-alt {
    background-color: #fafafc
}
